# Copy these into Vercel → Project Settings → Environment Variables

PORT=5000
MONGO_URI=
SECRET=
JWT_EXPIRES_IN=730d

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
BUCKET_ACCESS=
BUCKET_SECRET=

OPENAI_API_KEY=
BDBULKSMS_TOKEN=
